.articles-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}
.article-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  background-color: #fff;
}
.article-card h2 {
  margin-top: 0;
}
.article-card .meta {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 0.5rem;
}
.read-more {
  text-decoration: none;
  color: blue;
}
@media (min-width: 600px) {
  .articles-list {
    grid-template-columns: repeat (2, 1fr);
  }
}
@media (min-width: 1400px) {
  .article-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.App {
  text-align: center;
}
.App.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}